version: "3.7"

services:


  mysql:
    image: mysql:5.7.37-oracle

    volumes: 
      - ./mysql-data:/var/lib/mysql
    
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: 434200
    
  python:
    image: python:mycli
    volumes:
        - ./sql/:/usr/files/
        - ./jupyterlab/:/jupyterlab/
        - ./jupyter_server_config.json:/root/.jupyter/jupyter_server_config.json
        - ./jupyter_server_config.py:/root/.jupyter/jupyter_server_config.py
        - /mnt/work/work/beatmap_working_dir:/public
    working_dir: /jupyterlab
    #command: tail -f /dev/null
    command: jupyter-lab --allow-root
    environment:
      - TZ=Asia/Shanghai 

  nginx:
    image: nginx:stable
    restart: always
    privileged: true
    environment:
      - TZ=Asia/Shanghai 
    ports:
      - 80:80
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./ServerData/:/var/www/ServerData/
      - ./websurge-allow.txt:/var/www/websurge-allow.txt
    depends_on:
      - "tomcat"
      - "python"
      - "dotnet"


  tomcat:
    environment:
      - TZ=Asia/Shanghai
    image: tomcat:9.0.59-jre8-temurin-focal
    volumes:
        - ./webapps/:/usr/local/tomcat/webapps/
        - ./sword/:/var/sword/
    #ports:
        #- 8080:8080
    depends_on:
        - "mysql"
  
  dotnet:
    environment:
      - TZ=Asia/Shanghai 
    image: mcr.microsoft.com/dotnet/sdk:6.0
    volumes:
        - ./extremeServer/DTBWebServer/:/extremeServer/
    #ports:
        #- 5000:5000
    depends_on:
        - "mysql"
    
    working_dir: /extremeServer
    command: bash -c "dotnet run --urls=http://*:5000"
   #command: bash -c "dotnet publish -c Release && dotnet ./bin/Release/net6.0/publish/DTBWebServer.dll --urls=http://*:5000"
